@model EdukacijaPrijava
@{
    ViewData["Title"] = "Prijava";

}
<img src="~/images/ukras.PNG" style="margin-left:250px; margin-left:470px; " />

<h1>Zahvaljujemo se na interesovanju</h1>

    <p style="text-align:center;font-size:30px; padding-top:10px;">@Model.poruka</p>

<img src="~/images/ukras.PNG" style="margin-left:250px; margin-left:470px; " />
