
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      PROIZVODI
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        @foreach (var vrsta in Model)
        {
            <a class="dropdown-item" asp-controller="Proizvodi" asp-action="Index"
               asp-route-vrstaId="@vrsta.Id">@vrsta.Naziv</a>
        }
    </div>
</li>