@model eStudioLjepote.Models.Proizvods
@{
    ViewData["Title"] = "ProizvodiPartial";
}
<div class="col-sm-12 col-lg-4">
    <div class="card" style="width: 18rem;">
        @{
            var base64 = Convert.ToBase64String(Model.Slika);
            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
        }
        <img src="@imgsrc" style="padding-right:20px; height:150px;" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="card-title" style="text-align:center;color:black;">
               @Model.Naziv

            </h3>
          
        </div>
    </div>

    </div>