
@{
    ViewData["Title"] = "ContactUs";
}

<div class="container">
    <img  src="~/images/kontakt.PNG" width="100%"/>

    
    <div style="padding-top: 60px;" class="row">
        <!-- Single Contact Information -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-contact-information mb-80">
                <i style="color:#bca858; margin-left:55px;" class="fa fa-phone"></i>
                <h4 style="margin-right:85px;">Telefon</h4>
                <p>+(12)-345-6789</p>
            </div>
        </div>

        <!-- Single Contact Information -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-contact-information mb-80">
                <i style="color:#bca858; padding-left:70px;" class="fa fa-map-marker"></i>
                <h4 style="margin-right:85px;">Adresa</h4>
                <p>Vrazova 16, Sarajevo</p>
            </div>
        </div>

        <!-- Single Contact Information -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-contact-information mb-80">
                <i style="color:#bca858; padding-left:70px;" class="fa fa-clock-o"></i>
                <h4 style="margin-right:60px;">Radno vrijeme</h4>
                <p>80:00  do 17:00 </p>
            </div>
        </div>

        <!-- Single Contact Information -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-contact-information mb-80">
                <i style="color:#bca858; margin-left:60px;" class="fa fa-envelope "></i>
                <h4 style="margin-right:85px;">Email</h4>
                <p>info.allure@gmail.com</p>
            </div>
        </div>
    </div>
    </div>